*{box-sizing: border-box;}
html{scroll-behavior: smooth;}

img{width: 100%; display: block; height: 100%;}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    margin: 20px auto;
    background-color: rgb(151, 188, 17);
}
.img-container{
    margin: 10px;
    border: solid black 2px;
}
/*----Media Query------*/
/*large screen up to 1200px*/
@media screen and (max-width:1200px){
    .grid-container{
        background-color: pink;
        width: 800px;
        grid-template-columns: auto auto;
    }
} 
/*breakpoint for medium screen size*/
@media screen and (max-width: 900px) {
    .grid-container{
        background-color: blue;
        width: 80%;
        grid-template-columns: auto;
    }
}
/*main container*/

.header-container{
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
}
.header-container > div{
    padding: 20px;

}
.header-container > div:nth-child(3){
    margin: 0 0 0 auto;

}

.intro-container{
    width: 100%;
    display: grid;
    height: 300px;
    grid-template-columns: 20% 60% 20%;
}
.nav-menu
{
    background-color: aquamarine;
}
.content{
    background-color: rgb(142, 42, 73);
}
.blog{
    background-color:aqua;
}
.footer{
    background-color: rgb(18, 6, 6);
    color: white;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.footer >div{
    border: solid white 2px;
}

/*breakpoint up to 900px*/

@media screen and (max-width:900px) {
    .nav-menu{
        background-color: olive;
    .content{
        grid-column: span 2;
        }
    .blog{
        grid-column: span 3;
    }

    }
}

/*breakpoint to 600px- smartphone view*/